outputs/*
outputs/**/*

*.py
*.json
*.dot

code/debug_files/*
code/debug_files/**/*

code/inputs/*
code/inputs/**/*

code/intermediate_outputs/*
code/intermediate_outputs/**/*

**/__pycache_/
**/__pycache__/*

queries.md